/* font imports links */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;800&display=swap');

body{
    font-family: 'Poppins', sans-serif; 
}
/* header section start */
.head-container{
    display: flex;
    width: 1321px;
    height:646px;
    background-color: #2e2e2e; 
    border-radius: 30px;
    margin: 20px auto;
}
.header-text{
    width: 50%;
    margin-left: 106px;
    margin-top: 111px;
    margin-bottom: 111px;
}
.head-title{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    line-height: 80px;
}
.head-text{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 30px;
   
}
.live-btn{
    text-decoration: none;
    color: #ffffff;
    padding: 16px 25px;
    background-color: #dd7a00;
    border-radius: 5px;
}
.live-btn:hover{
    background-color: #e2c29b;
    color: #676161;
    transition: 0.5s;
}
.fa-solid{
    padding-left: 7px;
}
.header-img {
    width: 50%; 
}
.header-img img {
    width: 581px;
    height: 613px;
    background-size: cover;
    margin: 33px 79px 0 24px;
}
 /* main section start  */
 /* section aria */
.container{
    width: 1321px;
    height:646px;
    margin: 130px auto;
    display: grid;
    display: flex;
   
}

.btn-aria{
    width: 312px;
    height: 312px;
    background-color: rgb(28, 27, 27); 
    border-radius: 10px;
    padding-top: 5px;

}
.btn{
    display: block;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
}
#color{
    background-color: red;
    color: #FFFFFF;
}

/* <!-- transfer-blog aria -->
--------------------------------- */
.transfer-aria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 23px;
}
.transfer{
    width: 312px;
   height: 375px;
   background-color: #e7f3e6;
   border-radius: 10px;
}
.transfer-banner img{
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.transfer-detils{
    padding: 20px;
}
.transfer-btn{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    border: 2px solid #161616;
    background-color: #eef5ed; 
}
.transfer-btn:hover{
    background-color: tomato;
    color: #e7f3e6;
    transition: 0.5s;
}
.transtfer-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
}
#time{
   
    display: flex;
    gap: 30px;

}
.icon-1, .icon-2{
    margin-top: -30px;
}


/* footer section----------------
--------------------- */
.footer-section{
    width:100%;
    height: 444px; 
    margin-top: 130px;
    background: #161616;
    border-radius: 10px;
}
.footer-h1{
    color: white;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 100px;
    font-weight: 600;
font-size: 40px;
}
hr{
    width: 70%;
    margin-bottom: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
}

.items li{
 list-style: none;
}

.items li a{
    text-decoration: none;
    color: wheat;
    margin-left: 40px;
    font-size: 16px;
 }
 .items li a:hover{
    border-bottom: 2px solid rgb(195, 59, 59);
    transition: 0.5s;
 }
